.explain {
}

.explain__padding {
    padding: 30px 20px;
}

.explain__video h4 {
    color: var(--main);
    font-size: 10px;
    padding-bottom: 5px;
}

.explain__video div {
    background-color: var(--gray);
    height: 300px;
}

.explain__video  + .explain__video {
    margin-top: 30px;
}

