.main {
    text-align: center;
    padding: 30px 70px;
}

.main h3 {
    color: var(--main);
    font-size: 15px;
    padding-bottom: 30px;
}

.main h1 {
    color: var(--active);
    font-size: 50px;
}
.main hr {
    width: 260px;
    margin: 10px auto;
}

.main__sign-top {
    margin-top: 20px;
}

.main__sign-top .main__sign-top__name {
    font-weight: bold;
}

.main__sign-top div + div {
    margin-top: 10px;
}

.main__sign-bottom .main__sign-bottom__name {
    font-weight: bold;
}

.main__sign-bottom div + div {
    margin-top: 10px;
}

h4 {
    color: var(--danger);
    text-align: center;
    padding: 0 20px;
    line-height: 18px;
    letter-spacing: -0.5px;
    font-size: 13px;
}

.form {
    padding: 20px 20px;
}

.form .form__input {
    display: flex;
    padding-bottom: 30px;
}

.form .form__input label {
    flex: 0.2;
}

.form .form__input input {
    flex: 0.8;
    border-style: none;
    border-bottom: 1px solid var(--border);
    padding-bottom: 10px;
}

@media (min-width: 1020px) {
    .header__block {
        width: 1020px;
        margin: 0 auto;
    }

    .body__block {
        width: 1020px;
        margin: 0 auto;
    }
    .form {
        display: flex;
        align-items: center;
    }
    .form .form__input {
        flex: 0.7;
        padding-bottom: 0;
    }
    .form .btn {
        flex: 0.3;
    }
}

@media (min-width: 768px) {
    .form {
        width: 720px;
        margin: 0 auto;
    }
    .form .form__input {
        margin-right: 40px;
    }
    .form .btn {
        padding: 10px 0;
    }
}

/* modal */

.modal {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    height: 100%;
    width: 100%;
    padding-top: 180px;
}

.modal .modal__block {
    z-index: 150;
    background-color: white;
    width: 300px;
    height: 180px;
    margin: auto;
    padding: 0 10px 15px 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: none;
}

.modal .modal__block p {
    font-size: 14px;
    font-weight: bold;
}

.modal .modal__block button {
    margin-top: 35px;
}
